<div class="container">
  <span class="login100-form-title p-b-51">
    PRODUCTOS
  </span>
  <div class="row ">
    <div class="col-4 ">

      <form class="" autocomplete="off" (ngSubmit)="guardar( forma )" #forma="ngForm">


        <div class="form-group row ">
          <label class="col-4 col-form-label input100 ">Codigo Producto:</label>
          <div class="col-8 wrap-input100 m-b-16 ">

            <input class="form-control input100" 
            type="text" name="codpro" 
            placeholder="codigo de producto"
            [class.is-invalid]="codpro.invalid && codpro.touched"
            [ngModel]="producto.codprod"
            #codpro="ngModel">


            <small *ngIf="codpro.invalid && codpro.touched" class="form-text text-danger">Ingrese 5 letras</small>
          </div>
        </div>


        <div class="form-group row ">
          <label class="col-4 col-form-label input100">Nombre Producto:</label>
          <div class="col-8">

            <input class="form-control input100"
            type="text" 
            name="nombre" 
            placeholder="nombre del producto"
              [class.is-invalid]="nombre.invalid && nombre.touched" 
              [ngModel]="producto.nombre" required minlength="5"
              #nombre="ngModel">
            <small *ngIf="nombre.invalid && nombre.touched" class="form-text text-danger">Ingrese 5 letras</small>
          </div>
        </div>

        <div class="form-group row ">
          <label class="col-4 col-form-label input100">Descripcion Producto:</label>
          <div class="col-8">

            <input class="form-control input100" 
            type="text" name="descrip" 
            placeholder="descripcion Producto"
              [class.is-invalid]="descrip.invalid && descrip.touched" 
              [ngModel]="producto.descrip" required
              minlength="5" 
              #descrip="ngModel">
            <small *ngIf="descrip.invalid && descrip.touched" class="form-text text-danger">Ingrese 5 letras</small>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-4 col-form-label input100">Precio Producto:</label>
          <div class="col-8">

            <input class="form-control input100" 
            type="text" name="precio" 
            placeholder="precio"
              [class.is-invalid]="precio.invalid && precio.touched" 
              [ngModel]="producto.precio" required
              #precio="ngModel">
            <small *ngIf="precio.invalid && precio.touched" class="form-text text-danger">Ingrese precio
            </small>
          </div>
        </div>







        <div class="form-group row">
          <label class="col-4 col-form-label">&nbsp;</label>
          <div class="input-group col-md-8">
            <button type="submit" class="login100-form-btn">
              Guardar
            </button>
          </div>
        </div>

      </form>
    </div>

    <div class="col-8 float-right ">
      <table class="table table-light">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">nombre</th>
            <th scope="col">codigo</th>
            <th scope="col">descripcion</th>
            <th scope="col">precio</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of productos; let i=index">
            <th scope="row">{{i+1}}</th>
            <td>{{item.nombre}}</td>
            <td>{{item.codpro}}</td>
            <td>{{item.descrip}}</td>
            <td>{{item.precio}}</td>
          </tr>



        </tbody>
      </table>
    </div>


  </div>

</div>